---
import "@/styles/globals.css";

import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { Moon, Sun } from "lucide-react";

const isDark = true;
---

<Layout isDark={isDark}>
  <div
    class="min-h-screen flex flex-col pt-0 md:pt-8 p-8 max-w-4xl mx-auto w-full"
  >
    <header class="container mx-auto flex h-16 items-center justify-end px-4">
      <nav class="flex items-center gap-6">
        <!-- <a
          href="/about"
          class="text-sm text-muted-foreground hover:text-foreground"
        >
          About
        </a>
        <a
          href="/blog"
          class="text-sm text-muted-foreground hover:text-foreground"
        >
          Blog
        </a> -->
        <Button variant="ghost" size="icon" id="theme-toggle">
          <span class="sr-only">Toggle theme</span>
          <Sun className="h-5 w-5 dark:hidden" />
          <Moon className="h-5 w-5 hidden dark:block" />
        </Button>
      </nav>
    </header>

    <main class="space-y-6 flex-1 py-4 md:py-8">
      <section class="flex flex-col gap-8 items-start text-left py-4 md:py-8">
        <div class="relative h-16 w-16 overflow-hidden rounded-full">
          <Image
            src="/image.png"
            alt="Dimitar Dimov's profile picture"
            width={64}
            height={64}
            class="object-cover"
          />
        </div>
        <div class="flex flex-col gap-6 items-start">
          <h1 class="font-medium">Hey, I'm Dimitar Dimov</h1>
          <p class="text-muted-foreground">
            Backend architect at
            <a
              href="dreamshot.bg"
              target="blank"
              class="text-primary underline-offset-4 hover:underline"
            >
              Dreamshot
            </a>, where we create online games and innovative products.
          </p>
        </div>
      </section>
    </main>

    <footer
      class="flex text-sm text-muted-foreground items-center justify-center gap-4"
    >
      <a href="https://x.com/Lumosito" aria-label="X profile" target="_blank">
        <Button variant="link" size="sm"> @Lumosito </Button>
      </a>
      <a
        href="https://github.com/dstankovd"
        aria-label="GitHub profile"
        target="_blank"
      >
        <Button variant="link" size="sm"> GitHub </Button>
      </a>
      <a
        href="https://www.linkedin.com/in/dimitar-dimov-0b9117225/"
        aria-label="LinkedIn profile"
        target="_blank"
      >
        <Button variant="link" size="sm"> LinkedIn </Button>
      </a>
      <a href="mailto:dstankovd@gmail.com" aria-label="Email">
        <Button variant="link" size="sm"> Email </Button>
      </a>
    </footer>
  </div>
  <script>
    const themeToggle = document.getElementById("theme-toggle");
    const htmlElement = document.documentElement;

    themeToggle &&
      themeToggle.addEventListener("click", () => {
        htmlElement.classList.toggle("dark");
      });
  </script>
</Layout>
